@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes textureAnimation {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.4;
    transform: scale(1);
  }
}

body {
  margin: 0;
  font-family: monospace;
  background: linear-gradient(45deg, #000000, #1b1b1b, #333333);
  background-size: 200% 200%;
  animation: gradientAnimation 10s infinite alternate ease-in-out;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}



#container3D canvas {
  position: relative;
  left: 0;
  z-index: 1; /* Make sure the canvas stays behind the header */
}

button {
  padding: 10px 20px;
  color: white;
  z-index: 2; /* Ensures buttons remain above the animated background */
}

/* Style for the design credit text */
.design-credit {
  position: fixed;
  bottom: 20px;
  right: 150px; /* Adjusted to not overlap the button */
  color: white;
  font-size: 14px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  opacity: 1;
  z-index: 2;
  pointer-events: none; /* Prevents interference with UI */
}

/* General slider track styling */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: #888; /* Track background color */
  border-radius: 10px;
  height: 10px; /* Track thickness */
  outline: none;
}

/* Customizing the slider thumb for WebKit browsers (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px; /* Thumb size */
  height: 16px;
  background: white; /* White color for the thumb */
  border-radius: 50%; /* Circular shape */
  cursor: pointer;
  border: 2px solid #ccc; /* Optional border */
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5); /* Soft glow effect */
}

/* Customizing the slider thumb for Firefox */
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}
