@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes textureAnimation {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.4;
    transform: scale(1);
  }
}

body {
  margin: 0;
  
  background: linear-gradient(45deg, #000000, #1b1b1b, #333333);
  background-size: 200% 200%;
  animation: gradientAnimation 10s infinite alternate ease-in-out;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}



#container3D canvas {
  position: relative;
  left: 0;
  z-index: 1; /* Make sure the canvas stays behind the header */
}

button {
  padding: 10px 20px;
  color: white;
  z-index: 2; /* Ensures buttons remain above the animated background */
}
